{% extends "template.html" %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="card border-dark mb-3 mx-auto" style="max-width: 40rem;">
                <div class="card-header"><h3>{{ title }}</h3></div>
                <div class="card-body text-dark">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <h4>Description:</h4>
                                <p>{{ description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}