{% extends "template.html" %}
{% block title %} Search {% endblock %}
{% block body %}
    <div class="container">
        <fieldset>
            <legend>Home Depot</legend>
            <form action="http://localhost:5000/results" method="POST">
                <div class="card border-dark mb-3" style="max-width: 50rem;">
                    <div class="card-body text-dark">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 form-group border-right">
                                    <label for="query">Query:</label>
                                    <input type="text" name="query" placeholder="Write a query..." id="query"/>
                                    <hr/>
                                    <label for="number_of_results">Number of relative results:</label>
                                    <input type="number" id="number_of_results" value="5" min="0" step="1" data-bind="value:replyNumber" name="number_of_results"/>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <h4>Available metrics</h4>
                                    <hr/>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="cosine" id="cosine"
                                               name="metric" checked>
                                        <label class="form-check-label" for="cosine">Cosine</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="jaccard" id="jaccard"
                                               name="metric">
                                        <label class="form-check-label" for="jaccard"> Jaccard</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="euclidean" id="jaccard"
                                               name="metric">
                                        <label class="form-check-label" for="euclidean"> Euclidean</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="manhattan" id="manhattan"
                                               name="metric">
                                        <label class="form-check-label" for="manhattan"> Manhattan</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="dot" id="dot"
                                               name="metric">
                                        <label class="form-check-label" for="dot"> Inner product</label>
                                    </div>
                                </div>
                            </div>
                            <input class="btn btn-primary" type="submit" value="submit"/>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}
