{% extends "template.html" %}
{% block  title %} Results {% endblock %}

{% block body %}
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <h4>Results for query: "{{ query }}"</h4>
            <div class="col-md-12">
                <table class="table border border-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ product.title }} </br> <p style="font-size: 10px; margin-bottom: 0rem;">Similarity: {{ '%0.4f' % product.similar }}</p></td>
                            <td>{{ product.description[:15] }} <a href="/description/{{ product.file }}">view...</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}